[user]
        name = Avery Larsen
        email = averylarsen@mailbox.org
[commit]
        verbose = true
        gpgSign = true
[core]
        autocrlf = false
        filemode = false
        longpaths = true
[branch]
        autoSetupRebase = always
        autoSetupMerge = always
[init]
        defaultBranch = main
